body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
    margin-top: 40px;
}
#canvas{
    border: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    
}
img{
    display: none;
}
h3{
    color: white;
    font-size: 30px;
}